:root {
--cornflower: #e7e9fc;
--iris: #4D5AE5;
--navy-blue: #2E2F42;
--slate: #434455;
--white:#FFFFFF;
--cloud:#F4F4FD;
--ocean:#404BBF;
}
body {
font-family: 'Roboto', sans-serif;
color:#2E2F42;
text-decoration: none;
}
a {
text-decoration: none;}

.header-studio {
text-transform: uppercase;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.16;
letter-spacing: 0.54px;
}
.half-logo {
color:var(--iris)
}
.header-logo {
color:var(--navy-blue)
}
.menu-nav {
list-style: none;
}


.menu-nav li a {
color: var(--slate);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
}
.contacts-list li a  {
color: var(--slate, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.32px;
}
.contacts-list{
    list-style: none;
}
.contacts-list li a:hover {
    color: var(--ocean);
}
nav a:focus{
    color:var(--ocean)
}
nav a:hover{
    color: var(--ocean)
}
.title-section  {
background: var(--navyblue, #2E2F42);
text-align: center;
}
.title-section h1 {
width: 496px;
color: var(--white, #FFF);
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
}
button:hover{
    cursor:pointer;
    background-color: var(--ocean);
}
button{
background-color: var(--iris);   
color: var(--white, #FFF);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
}
.article-list-item {
width: 264px 
}
.article-list-item h3 {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;  
}

.article-list-item p{
color: var(--slate, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.32px;
}
.doing-heading h2 {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.list team{
background-color: var(--cloud);
}
.list-team h2{
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.list h3 {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
.list p {
color: var(--slate, #434455);
font-size: 16px;
line-height: 1.5px;
letter-spacing: 0.32px;
}
.footer-section {
background-color: var(--navy-blue);
}
.footer-studio{
 text-transform: uppercase;
 font-family:"Raleway", sans-serif;   
}
.footer-logo {
 color: var(--cloud)   
}
.footer-section p {
 width:264px;
 letter-spacing: 0.02em;
 color: var(--cloud)
 }
.list-doing-img {
list-style: none;
}
.list{
list-style: none;
}
.projects-card-item button {
color:var(--iris);
background-color: var(--cornflower);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
}
.projects-card-item button:hover {
    color: white;
    background-color: var(--ocean);
    cursor: pointer;
}
.photo-section h1 {
    color: white;
}

.photo-section h3 {
   font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.photo-section p {
    color: var(--slate);
}


